@font-face {
    font-family: VCR-OSD;
    src: url(./fonts/VCR_OSD_MONO_1.001.ttf)
}

body, html {
    background-color: rgb(70, 0, 0);
    color: white;
    font-family: "VCR-OSD", serif;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Main Level Selection */

.main {
    width: 100%;
    background-color: black;
    padding: 20px;
    height: 75%;
    overflow: auto;

    font-size: 2.2rem;
    text-align: justify;
}

.main > hr {
    width: 98%;
    margin: 8px;
}

.layer {
    margin: 0 12px;
    font-size: 90%;
}

.choices {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    background-color: black;
    padding: 20px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(12, 12, 12, 0.4);
    border-radius: 1%;
    padding: 24px;
    gap: 12px;
    border: solid thin black;
}

.level > img {
    height: 100%;
    width: auto;
}

.level:hover {
    /* cursor: pointer; */
    border: solid thin white;
    transition: 0.3s;
}

.level > p {
    font-size: 65%;
    text-align: center;
    margin: 0px;
}

.level > hr {
    width: 98%;
    margin: 0px;
}

.song-container {
    display: flex;
    gap: 4px;
}

.song-box {
    border: solid thick white;
    border-radius: 15%;
    padding: 15px;
}

.guess {
    position: relative;
    margin: 12px;
    background-color: black;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search {
    color: white;
    background-color: black;
    font-size: 18px;
    font-family: "VCR-OSD", serif;

    height: 40px;
    width: 92%;

    padding: 2px 12px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-list {
    position: absolute;
    bottom: 100%;
    min-width: 100%;
    max-height: 280px;
}

.search-list > li {
    background-color: black;
    color: white;
    list-style: none;
    padding: 10px 12px;

    border-color: white;
    border-radius: 3px;
    border: solid thin white;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

::selection{
    color: #fff;
    background: #ff4a4a;
}

.media {
    margin: 8px;
}