@font-face {
    font-family: VCR-OSD;
    src: url(./fonts/VCR_OSD_MONO_1.001.ttf)
}

body, html {
    background-color: rgb(10,10,10);
    color: white;
    font-family: "VCR-OSD", serif;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.head > p {
    margin-left: auto;
}

::selection{
    color: #fff;
    background: #ff4a4a;
}

/* Main Level Selection */

.main {
    width: 100%;
    background-color: black;
    padding: 20px;
    height: 75%;
    overflow: auto;

    font-size: 2.2rem;
    text-align: justify;
}

.main > hr {
    width: 98%;
    margin: 8px;
}

.layer {
    margin: 0 12px;
    font-size: 1.5rem;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    background-color: black;
    padding: 20px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;    

    background-color: rgba(12, 12, 12, 0.4);
    border-radius: 1%;
    padding: 24px;
    gap: 12px;
    border: solid thin black;
}

.level > img {
    /* height: 13rem; */
    width: 13rem;    
    height: auto;
}

.level:hover {
    /* cursor: pointer; */
    border: solid thin white;
    transition: 0.3s;
}

.level > p {
    font-size: 1rem;
    text-align: center;
    margin: 0px;
}

.level > hr {
    width: 98%;
    margin: 0px;
}

.song-container {
    display: flex;
    gap: 4px;
}

.song-box {
    border: solid thick white;
    border-radius: 15%;
    padding: 10px;
}

.guess {
    position: relative;
    margin: 12px;
    background-color: black;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search {
    color: white;
    background-color: black;
    font-size: 18px;
    font-family: "VCR-OSD", serif;

    height: 40px;
    width: 92%;

    padding: 2px 12px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-list {
    position: absolute;
    bottom: 100%;
    min-width: 100%;
    max-height: 280px;
}

.search-list > div {
    display: flex;
    cursor: default;

    background-color: black;
    color: white;
    padding: 10px 12px;

    border-color: white;
    border-radius: 3px;
    border: solid thin white;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.search-list > div:hover {
    background-color: #2f2f2f;
    transition: 0.3s;
}

.media {
    display: flex;
    margin: 8px;
}

.bar {
    position: relative;
    width: 80%;
}

.empty-seek {
    border-radius: 4px;
    width: 100%;
    background-color: lightgrey;
    padding: 8px 0px;
}

.empty-seek-bg {
    position: fixed;
    width: 200%;
    background-color: #53000054;    
    padding: 8px 0px;
    right: 0px;
}

.fill-seek {
    border-radius: 4px;
    position: absolute;
    background-color: rgb(87, 0, 0);
    left: 0;
    height: 100%;
}

.division {
    background-color: rgba(14, 1, 1, 0.8);
    position: absolute;
    padding: 8px 5px;
    left: 6.25%;
}

